* {
	/*border: 1px solid red;*/
	font-family: 'Comfortaa', Arial;
}


body {
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Comfortaa';
	font-weight: bold;
	font-size: 30px;
}

a {
	text-decoration: none;
}

hr {
	opacity: .5;
}

.background {
	background-image: url("images/light_grey.png");
	position: fixed;
	height: 100%;
	width: 100%;
	text-align: center;
}

#titlePanel {
}

#quizBoxImg {
	background-image: url("images/cover.jpg");
	background-size: cover;
	height: 22em;
	width: 30em;
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top: 1px solid grey;
	border-right: 1px solid grey;
	border-left: 1px solid grey;

}

#quizBox {
	display: inline-block;
	height: 15.2em;
	width: 30em;
	background-color: white;
	text-align: center;
	font-family: 'Comfortaa', Arial;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
}

#innerText {
	padding: 0em 2em .2em 2em;
}

#getStarted {
	font-family: 'Comfortaa';
	line-height: 2.5em;
	background-color: #00008F;
	border: 1px solid grey;
	border-radius: 10px;
	color: #C2C2C2;	
	font-size: .75em;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	background: -webkit-gradient(linear, left bottom, left top, from(#0017C4), to(#114ADD));
	background: -moz-linear-gradient(bottom, #faa51a, #f47a20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
}

#getStarted:hover {
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#0017C4), to(#114ADD));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
	cursor: pointer;
}

#getStarted:active {
	position: relative;
	top: 1px;
}

#questionBox {
	display: inline-block;
	height: 27em;
	width: 57em;
	background-color: #00008F;
	margin-top: 7em;
	border-radius: 20px;
	text-align: center;
	padding: 3em;
	border: 6px solid #00008F;
}

#questionNum {
	display: inline-block;
	float: left;
	background-color: white;
	height: 7em;
	width: 6em;
	border-radius: 8px;
	border: 2px solid grey;
}

#questionNumHeading {
	display: inline-block;
	float: left;
	background-color: rgb(119, 119, 131);
	height: 1.5em;
	width: 6em;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	vertical-align: middle;
	padding-top: .5em;
	font-weight: bold;
}

#numPadding {
	padding-top: 2.2em;
	font-size: 24px;
}

#question {
	display: inline-block;
	height: 5em;
	width: 18em;
	margin-right: auto;
	font-family: 'Comfortaa', Arial;
	padding: .5em 1.5em 1.5em 1.5em;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

#score {
	display: inline-block;
	float: right;
	background-color: white;
	height: 7em;
	width: 6em;
	border-radius: 8px;
	border: 2px solid grey;

}

#currentScore {
	padding-top: 2.2em;
	font-size: 24px;
}

#scoreHeader {
	display: inline-block;
	float: left;
	background-color: rgb(119, 119, 131);
	height: 1.5em;
	width: 6em;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	vertical-align: middle;
	padding-top: .5em;
	font-weight: bold;
}

#answer1 {
	display: inline-block;
	float: left;
	background-color: rgb(119, 119, 131);
	height: 4.5em;
	width: 26em;
	border-radius: 10px;
	margin-right: 2.2em;
	margin-bottom: 4em;
}

#answer2 {
	display: inline-block;
	float: right;
	background-color: rgb(119, 119, 131);
	height: 4.5em;
	width: 26em;
	border-radius: 10px;
	margin-bottom: 4em;
}

#answer3 {
	display: inline-block;
	float: left;
	background-color: rgb(119, 119, 131);
	height: 4.5em;
	width: 26em;
	border-radius: 10px;

}

#answer4 {
	display: inline-block;
	float: right;
	background-color: rgb(119, 119, 131);
	height: 4.5em;
	width: 26em;
	border-radius: 10px;

}

#a{
	display: inline-block;
	float: left;
	background-color: white;
	height: 1.55em;
	width: 2em;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size: 30px;
	padding: 15px 10px 10px 10px;
	cursor: pointer; 
	cursor: hand; 
}

#b {
	display: inline-block;
	float: left;
	background-color: white;
	height: 1.55em;
	width: 2em;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size: 30px;
	padding: 15px 10px 10px 10px;
	cursor: pointer; 
	cursor: hand; 
}

#c {
	display: inline-block;
	float: left;
	background-color: white;
	height: 1.55em;
	width: 2em;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size: 30px;
	padding: 15px 10px 10px 10px;
	cursor: pointer; 
	cursor: hand; 
}

#d {
	display: inline-block;
	float: left;
	background-color: white;
	height: 1.55em;
	width: 2em;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size: 30px;
	padding: 15px 10px 10px 10px;
	cursor: pointer; 
	cursor: hand; 
}

#choice1 {
	padding: 1.2em .9em 0 5.5em;
	text-align: left;
	font-size: 1.25em;
}

#choice2 {
	padding: 1.2em .9em 0 5.5em;
	text-align: left;
	font-size: 1.25em;
}

#choice3 {
	padding: 1.2em .9em 0 5.5em;
	text-align: left;
	font-size: 1.25em;
}

#choice4 {
	padding: 1.2em .9em 0 5.5em;
	text-align: left;
	font-size: 1.25em;
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.60;
	filter: alpha(opacity=60);
}

.white_content {
	display: none;
	position: absolute;
	top: 15%;
	left: 35%;
	width: 30%;
	height: 21	.5em;
	border-radius: 10px;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

#correct {
	padding: .88em;
	background-color: rgb(16, 150, 32);
	text-align: left;
	color: white;
}

#incorrect {
	display: none;
	padding: .88em;
	background-color: rgb(231, 44, 44);
	text-align: left;
	color: white;
}

#finished {
	display: none;
	padding: .88em;
	background-color: blue;
	text-align: left;
	color: white;
}

#playAgain {
	display: none;
	margin: 0 0 1em 0;
	font-family: 'Comfortaa';
	line-height: 1.75em;
	background-color: #00008F;
	border: 1px solid grey;
	border-radius: 10px;
	color: #C2C2C2;	
	font-size: .75em;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	background: -webkit-gradient(linear, left bottom, left top, from(#0017C4), to(#114ADD));
	background: -moz-linear-gradient(bottom, #faa51a, #f47a20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
}

#correctContent {
	padding: 2em 2em 1em 2em;
	height: 11em;
	text-align: left;
}

#next {
	margin: 0 0 1em 0;
	font-family: 'Comfortaa';
	line-height: 1.75em;
	background-color: #00008F;
	border: 1px solid grey;
	border-radius: 10px;
	color: #C2C2C2;	
	font-size: .75em;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	background: -webkit-gradient(linear, left bottom, left top, from(#0017C4), to(#114ADD));
	background: -moz-linear-gradient(bottom, #faa51a, #f47a20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
}

#results {
	display: none;
	margin: 0 0 1em 0;
	font-family: 'Comfortaa';
	line-height: 1.75em;
	background-color: #00008F;
	border: 1px solid grey;
	border-radius: 10px;
	color: #C2C2C2;	
	font-size: .75em;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	background: -webkit-gradient(linear, left bottom, left top, from(#0017C4), to(#114ADD));
	background: -moz-linear-gradient(bottom, #faa51a, #f47a20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
}